@media only screen and (max-width : @screen-md-max) {
    .member-ship {
        .member-block-inner {
            max-height: 214px;
            position: relative;
            overflow: hidden;
            .member-pic {
                &:before {
                    -webkit-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }
            .member-info {
                opacity: 1;
            }
        }
    }  
   .bzoom_wrap .bzoom_small_thumbs li {
        margin: 0px 6px 0px 0px;
    }
    .bzoom_wrap {
        height: 515px;
    }
    .section-top-detail {
        min-height: 565px;
    }
    .wrap-error .right-error h1 {
        font-size: 167px;
    }
}
@media only screen and (min-width : @screen-lg-min) {
    .member-block {
        width: 20%;
    }
}
@media only screen and (max-width : @screen-sm-max) {    
    .result-search {
        width: 318px;
        top: 36px;
        left: 112px;
        height: 427px;
    }
    .acc-header .acc-greeting {
        margin-left: 0; 
        padding-left: 0; 
        border-left: none; 
        margin-top: 10px;
        text-align: left;
    }
    .panel-info {
        width: 85%;
        text-align: left;
    }
    .panel-info .panel-info-body {
        padding: 30px 15px;
    }
    .general-info .u-row-1 .u-title-item {
        height: auto; 
        text-align: left;
    }
    .section-title,
    .section-marketing-field .section-title,
    .section-banner .section-title {
        font-size: 20px;
        font-weight: normal;
        line-height: 30px;
    }
    .marketing-field {
        max-width: 360px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
        .form-control,
        .input-group-btn,
        .btn {
            width: 100%;
            height: 48px;
        }
        .form-control {
            margin-bottom: 15px;
            &:first-child {
                border-bottom-right-radius: @border-radius;
                border-top-right-radius: @border-radius;
            }
        }
        .input-group-btn {
            display: table;
            .btn {
                margin-left: 0;
                &:last-child {
                    border-bottom-left-radius: @border-radius;
                    border-top-left-radius: @border-radius;
                }
            }
        }
    }
    .info-block {
        margin-left: auto;
        margin-right: auto;
    }
    .news-sidebar {
        display: none;
    }
    .header-search {
        width: 53%;
        float: left;
    }
    .section-trending {
        padding-top: 42px;
    }
    .head-line {
        display: none;
    }
    .section-category .swiper-slide a span {
        margin: 0 5px;
    }
    .section-top-detail .right-block .list-infor,
    .section-bottom-detail .right-block .block-buy-safe ul {
        text-align: left;
    }
    .bzoom_wrap {
        padding: 15px 20%;
    }  
    .section-menu .list-filter .price-wrap {
        margin-bottom: 10px;
    }
    .section-menu .list-filter .pull-right {
        float: left !important;
    }
    .swiper-button-next {
        background-image: url(../images/icons/icon-chevron-right.png);
        right: 10px;
        background-size: 100%;
        left: auto;
        width: 14px;
        height: 22px;
    } 

    .swiper-button-prev {
        background-image: url(../images/icons/icon-chevron-left.png);
        right: 10px;
        background-size: 100%;
        left: auto;
        width: 14px;
        height: 22px;
        left: 0;
    }
    .section-top-detail .left-block {
        margin-bottom: 20px;
    }
    .swiper-wrapper .swiper-slide a img {
        width: 100%;
        height: 100%;
    }
    .right-block.col-md-3 {
        padding-left: 0; 
    }
}
@media only screen and (max-width : @screen-xs-max) {
    .my-acc .acc-tab {
        margin: 26px 0 30px 0px;
    }
    .user-profile .u-row .u-content-item {
        text-align: left;
    }
    .wrap-error {
        margin: 80px 0 0 15px;
    }
    .section-trending {
        padding-top: 20px;
    }
    .countdownHolder {
        top: -8px;
        display: block;
        margin-left: 15%;
    }
    .section-flashsale .wrap-flashsale {
        .bar-line {
           .icon-fire,.meter {
                display: none;
            } 
        }        
    }
    .section-flashsale .wrap-flashsale .wrap-text .saled {
        display: block;
    }
    .section-flashsale .wrap-flashsale .wrap-img {
        width: 130px;
        height: 130px;
    }
    .section-flashsale .wrap-flashsale .bar-line .rest-pro {
        float: left !important;
    }
    .popular-product .shop-infor .wrap-logo,
    .popular-product .shop-infor .vote {
        display: none;
    }
    .section {
        text-align: center;
    }
    .swiper-wrapper,.popular-product{
        text-align: left;
    }
    .section-banner .wrap-banner .banner-1,.section-banner .wrap-banner {
        height: 250px;
    }
    .section-trending .swiper-slide .text {
        bottom: 0px;
    }
    .section-flashsale .wrap-flashsale .bar-line {
        margin-top: 0px;
    }
    .section-flashsale .wrap-flashsale .wrap-text .saled {
        margin-left: 0;
        margin-bottom: 3px;
        margin-top: -3px;
    }
    .breadcrumb {
        margin-top: 0px; 
        /*min-height: 55px;*/
        height: auto;
        padding-left: 15px;
    }
    .breadcrumb ul li .scrollbar {
        margin-top: 0px;
    }
    .section-top-detail .right-block .list-infor .item-place .wrap_select {
        min-width: 40%;
    }
    .section-top-detail .right-block .list-infor .item-number input {
        width: 16%;
    }
    .section-top-detail .right-block .list-infor .item-button .btn i{
        display: none;
    }
    .section-top-detail .right-block .list-infor .item-share label {
        display: block;
        float: none;
    }
    .swiper-container.MobileSlide {
        height: 320px;
    }
    
    .section-top-detail .right-block .list-infor .item-share .list-icon li {
        margin-bottom: 0;
    }
    .tabcontent .information-product table {
        text-align: left;
    }
    div.tab button {
        margin-right: -4px;
        font-size: 14px;
    }
    footer .f-block-2 {
        margin-bottom: 74px;
    }    
    footer {
        padding: 20px 20px;
    } 
    .tabcontent img {
        max-width: 100%;
    }      
    .section-menu .list-filter .color-choose {
        margin-right: 10px;
    }
    .section-menu .list-filter .pull-right {
        margin-right: 13px;
    }
    .section-menu .list-filter .price-wrap,
    .section-menu .swiper-wrapper {
        padding-left: 10px;
    }
    .section-recommend .more-recommend a {
        padding: 7px 65px;
    } 
    .section-menu .list-filter .other-price {
        margin-right: 15px;
    }
    .section-banner-shop .section-inner {
        height: 80px;
    }
    .section-banner-shop {
        height: 300px;
    }
    .section-top-detail .right-block .list-infor .item-place span {
        display: block;
        width: 100%;
        margin-top: 46px;
    }
    header .account-nav .account-label {
        display: none;
    }
    header .container-header .account-nav .account-img {
        width: 35px;
        height: 35px;
    }
    .right-block.col-md-3 {
        padding-left: 0; 
        text-align: left;
    }
    .section-top-detail .right-block.left-side .list-infor .item-share ul{
        padding-left: 0;
        display: inline-block;
    }
    .section-top-detail .right-block.left-side .list-infor .item-share li {
        margin-left: 0;
    } 
    .section-top-detail .right-block .list-infor .item-place .place-select {
        margin-bottom: 10px;
    } 
    .section-top-detail .right-block .list-infor .item-place span {
        width: auto;
        display: inline;
        margin-top: 0;
    }      
}
@media only screen and (max-width : 414px) {
    .section-top-detail .right-block .list-infor .item-place span {
        display: block;
        width: 100%;
        margin-top: -10px; 
        float: left;
    }
}
@media only screen and (min-width: 415px) and (max-width: 666px){
    .section-trending .swiper-slide .text {
        bottom: 0px;
    }
    .section-flashsale .wrap-flashsale .wrap-img {
        width: 135px;
        height: 135px;
    }
    .countdownHolder {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 667px) and (max-width: 767px){
    .section-trending .swiper-slide .text {
        bottom: 0px;
    }
    .section-flashsale .wrap-flashsale .wrap-img {
        width: 155px;
        height: 155px;
    }
    .countdownHolder {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 376px) and (max-width: 412px){
    .popular-product .wrap-text .new-price {
        font-size: 14px;
        margin-left: 0;
    }
    .popular-product .wrap-text .old-price {
        font-size: 11px;
    }
    .popular-product .shop-infor {
        padding: 4px 8px;
    }
    .popular-product .wrap-text a {
        height: 2.6em;
        line-height: 17px;
        margin-bottom: 0px;
        font-size: 13px;
    } 
    .section-trending .swiper-slide .text {
        bottom: 0px;
    }
    div.tab button {
        margin-right: 25px;
        width: 25%;
    }
    .panel-info .panel-info-body ul{
        padding-left: 0;
    }
}

@media only screen and (min-width: 361px) and (max-width: 375px){ 
    .section-flashsale .wrap-flashsale .wrap-img {
        width: 115px;
        height: 115px;
    }
    .section-flashsale .wrap-flashsale .bar-line {
        margin-top: 3px;
    }
    .section-flashsale .wrap-flashsale .wrap-text .saled {
        margin-left: 0;
        margin-bottom: 0px;
    }
    .section-flashsale .wrap-flashsale .wrap-text .price {
        font-size: 14px;
    }    
    .popular-product .wrap-text a {
        height: 2.6em;
        line-height: 15px;
        margin-bottom: 0px;
        font-size: 12px;
    } 
    .countdownHolder {
        margin-left: 10%;
    } 
    div.tab button {
        margin-right: 13px;
        width: 28%;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor .btn {
        height: 30px;
    }
    .section-top-detail .right-block .list-infor .item-place span {
        float: right;
    }  
    .panel-info .panel-info-body ul{
        padding-left: 0;
    }
}
@media only screen and (min-width: 321px) and (max-width: 360px){
    .section-trending .swiper-slide .text {
        bottom: 4px;
    }
    div.tab button {
        margin-right: 10px;
        width: 29%;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor .btn {
        height: 22px;
        font-size: 12px;
        margin-right: 0;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor .btn a {
        padding: 0 2px;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor p {
        margin-bottom: 4px;
    }
    .section-top-detail .right-block .list-infor .item-button .btn {
        padding: 5px 10px;
    }
    .section-menu .list-filter .pull-right {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    header .container-header .account-nav .account-img {
        width: 30px;
        height: 30px;
    }
    .container-header .cart {
        margin-left: 10px;
    }
    .section-top-detail .right-block .list-infor .item-place span {
        float: right;
    }  
    .panel-info .panel-info-body ul{
        padding-left: 0;
    }
}
@media only screen and (max-width : 320px) {
    .panel-info .panel-info-body ul{
        padding-left: 0;
    }
    .section-trending .swiper-slide .text {
        bottom: 10px;
    }
    .time-update {
        display: block;
        margin-top: -12px;
        margin-bottom: 10px;
    }
    .section-flashsale .wrap-flashsale .wrap-img {
        width: 145px;
        height: 145px;
    }
    .countdownHolder {
        margin-left: 8%;
    }
    .container-header .login-dropdown {
        top: 43px;
        right: 30px;
        width: 247px;
    }
    div.tab button {
        margin-right: 10px;
        width: 29%;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor .btn {
        height: 22px;
        font-size: 12px;
        margin-right: 0px;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor .btn a{
        padding: 0px 2px;
    }
    .section-bottom-detail .right-block .block-shop-infor .infor p {
        margin-bottom: 4px;
    }
    .section-bottom-detail .right-block .block-shop-infor .wrap-logo {
        width: 62px;
        height: 62px;
        margin-right: 8px;
    }
    .section-top-detail .right-block .list-infor .item-button .btn {
        padding: 5px 8px;
        height: 32px;
        margin-right: 0px;
        font-size: 12px;
    }
    .section-top-detail .right-block .list-infor .item-price .old-price {
        font-size: 13px;
    }
    .section-top-detail .right-block .list-infor .item-price .new-price,
    .section-top-detail .right-block .list-infor .item-price .sale {
        font-size: 21px;
    }
    .section-menu .list-filter .pull-right {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .section-banner-shop .section-inner .infor-shop .title-shop {
        font-size: 22px;
    }
    .section-banner-shop {
        height: 280px;
    }
    .section-top-detail .right-block .list-infor .item-place .place-select {
        display: block;
        width: 100%;
    }
    .section-top-detail .right-block .list-infor .item-place .place-select .form-control{
        width: auto;
    }
    header .container-header .account-nav .account-img {
        width: 30px;
        height: 30px;
    }
    .container-header .cart {
        margin-left: 10px;
    }
    .section-top-detail .right-block .list-infor .item-place span {
        margin-top: 0px;
    }  
}
@media only screen and (width : @screen-sm-min) { 
    .result-search {
        width: 387px;
        top: 38px;
        left: 15%;
    }
}
@media only screen and (min-width : @screen-sm-min) {
    .section-tight {
        .section-heading {
            margin-top: 0;
            text-align: left;
        }
        .section-subhead {
            font-size: 16px;
        }
        .container {
            .content-align-center;
        }
    }    
}
