{% set current_page = 'features' %} {% extends "layout/_layout.html" %} {% block page-container %}
<main>
    {% include "block/_arrow-next-pre.html" %}
    <section class="section container section-category color-4 categoryPage">
        {% include "block/_category.html" %}
    </section>
    <div id="fixed-block-menu" >
        <div class="block-menu">
            <div class="section-inner">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="container">
                            <div class="inner-breadcrumb">
                                <ul>
                                    <li>
                                        <a href="./"><b>Trang chủ</b></a>
                                    </li>
                                    <li><a href="#">Nhà cửa & Đời sống</a></li>
                                    <li><a href="#">Dụng cụ & Thiết bị tiện ích</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section-menu">
            <div class="section-inner">
                <div class="container">
                    <div class="container swiper-wrapper">
                        <div class="swiper-container MenuSlide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Giày dép</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo lỡ</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo phông phông</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo nữ</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phụ kiện</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Váy suông</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo thêu</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Thanh lý</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">The face</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop shop</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="next-pre">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="list-filter hidden-xs">
                        <div class="price-wrap">
                            <ul class="price-level">
                                <li><b>Mức giá:</b></li>
                                <li><a href="javascript:void(0);">Dưới 100k</a></li>
                                <li><a href="javascript:void(0);">100k-150k</a></li>
                                <li><a href="javascript:void(0);">150k-200k</a></li>
                                <li><a href="javascript:void(0);">200k-250k</a></li>
                            </ul>
                            <div class="other-price">
                                <select class="form-control" id="resizing_select">
                                    <option>2 triệu - 3 triệu</option>
                                    <option>Mức giá khác</option>
                                    <option>250k-300k</option>                                    
                                    <option>300k-500k</option>
                                    <option>500k-1000k</option>
                                </select>
                                <select id="width_tmp_select">
                                    <option id="width_tmp_option"></option>
                                </select>
                            </div>
                        </div>                        
                        <div class="pull-right">
                            <div class="color-choose">
                                <label>Màu sắc:</label>
                                <select class="form-control" id="resizing_select1">
                                    <option>Tất cả</option>
                                    <option>Da</option>
                                    <option>Đỏ</option>
                                    <option>Cam</option>
                                </select>
                                <select id="width_tmp_select1">
                                    <option id="width_tmp_option1"></option>
                                </select>
                            </div>
                            <div class="size-choose">
                                <label>Kích thước:</label>
                                <select class="form-control" id="resizing_select2">
                                    <option>Free Size</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                </select>
                                <select id="width_tmp_select2">
                                    <option id="width_tmp_option2"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list-filter visible-xs">
                        <div class="price-wrap">
                            <div class="other-price">
                                <select class="form-control">
                                    <option>Mức giá</option>
                                    <option>250k-300k</option>
                                    <option>300k-500k</option>
                                    <option>5000k-100.000k</option>
                                </select>
                            </div>
                        </div>                        
                        <div class="pull-right">
                            <div class="color-choose">
                                <select class="form-control">
                                    <option>Màu sắc</option>
                                    <option>Da</option>
                                    <option>Đỏ</option>
                                    <option>Cam</option>
                                </select>
                            </div>
                            <div class="size-choose">
                                <select class="form-control">
                                    <option>Size</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section container section-padding" id="menu_fixed">
        {% include "block/_recommend.html" %}
    </section>
    {% include "block/_pagination.html" %}
</main>
{% endblock %}