{% set current_page = 'features' %}
{% extends "layout/_layout.html" %}
{% block page-container %}
<main class="container">
    {% include "block/_sidebar.html" %}
    <section class="section-tight right-style ">
        <div class="section-inner">
            <div class="">
                <div class="col-sm-5 section-heading">
                    <h2 class="section-title">Bán hàng trên Shop myFace</h2>
                    <p class="section-subhead">
                        Mở rộng độ phủ sản phẩm và cơ hội tăng doanh thu bằng những trải nghiệm khác biệt dành cho người mua hàng.
                    </p>
                    <p class="cta-row">
                        <a class="btn btn-lg btn-primary" href="#">Dùng thử miễn phí</a>
                    </p>
                    <p class="link-row">
                        <a class="btn-link" href="#">Ghé thăm Shop myFace</a>
                    </p>
                </div>
                <div class="col-sm-7 section-media">
                    <img src="assets/images/upload/right-banner-1.png" alt="myface">
                    <div class="phone-box-img">
                        <img src="assets/images/upload/phone-box-img.png" alt="myface">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-feature ">
        <div class="section-header">
            <h2 class="section-title">Cho bạn tiện ích vượt trội</h2>
            <p class="section-subhead">
                Tổng hợp rất nhiều tính năng  trên 1 trình duyệt duy nhất, myFace cung cấp giá trị thực tiễn và hữu ích nhất cho người dùng.
            </p>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="block-item info-block">
                            <p class="block-icon icon icon-1"></p>
                            <h3 class="block-title">
                                Mở rộng độ phủ sản phẩm sàn TMDT C2C
                            </h3>
                            <p class="block-detail">
                                Cập nhật danh sách sản phẩm trực tiếp từ hệ thống quản lý trên trang TMĐT: shop.myface.vn, sendo.vn, enbac.com...
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="block-item info-block">
                            <p class="block-icon icon icon-2"></p>
                            <h3 class="block-title">
                                Các chương trình khuyến mãi đa dạng, độc đáo
                            </h3>
                            <p class="block-detail">
                                Tính năng hỗ trợ đặc biệt tích hợp trực tiếp với hệ thống giúp chủ shop tạo nên sự thu hút cho riêng thương hiệu.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="block-item info-block">
                            <p class="block-icon icon icon-3"></p>
                            <h3 class="block-title">
                                Kết nối vận chuyển
                            </h3>
                            <p class="block-detail">
                                Tích hợp trực tiếp với một trong những đối tác vận chuyển hàng đầu Đông Nam Á, đảm bảo an toàn, đúng thời gian.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="block-item info-block">
                            <p class="block-icon icon icon-4"></p>
                            <h3 class="block-title">
                                Kiểm soát tài chính bằng báo cáo điện tử
                            </h3>
                            <p class="block-detail">
                                Tùy ý xuất bản thống kê đơn hàng, vận chuyển và sản phẩm theo thời gian ghi nhận chỉ trong vài click chuột.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="block-item info-block">
                            <p class="block-icon icon icon-5"></p>
                            <h3 class="block-title">
                                Bảo mật tuyết đối thông tin khách hàng
                            </h3>
                            <p class="block-detail">
                                Cam kết bảo mật thông tin chủ shop, khách hàng và đơn hàng của bạn bằng các tính năng.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="block-item info-block">
                            <p class="block-icon icon icon-6"></p>
                            <h3 class="block-title">
                               Tương tác với khách hàng 24/24 mọi lúc, mọi nơi
                            </h3>
                            <p class="block-detail">
                                Quản lý tất cả inbox, comment, yêu cầu mua hàng và đơn hàng chỉ bằng một công cụ quản lý duy nhất.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-tight left-style ">
        <div class="section-inner">
            <div class="container">
                <div class="col-sm-5 col-sm-push-7 section-heading">
                    <h2 class="section-title">Quản lý sản phẩm, đơn hàng</h2>
                    <p class="section-subhead">
                        Cập nhật, kiểm soát chặt chẽ đơn hàng, điều chỉnh thông tin và hỗ trợ khách hàng nhanh chóng chỉ bằng một công cụ duy nhất – myFace.
                    </p>
                </div>
                <div class="col-sm-7 col-sm-pull-5 section-media">
                    <img src="assets/images/upload/left-banner-1.jpg" alt="myface">
                    <div class="phone-box-img">
                        <img src="assets/images/upload/pc-box-img.png" alt="myface">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section ">
        <div class="section-header text-center">
            <h2 class="section-title">Chat, tương tác với khách hàng</h2>
            <p class="section-subhead">
                myFace hỗ trợ chủ shop tương tác với khách hàng 24/7, không lo bỏ mất khách hay sót đơn hàng <br>và luôn lưu giữ thông tin của khách hàng thân thiết.
            </p>
        </div>
        <div class="section-content">
            <div class="container section-img text-center">
                <img src="assets/images/upload/chat-img.jpg" alt="myface" >
            </div>
        </div>
    </section>
    <section class="section-tight right-style ">
        <div class="section-inner">
            <div class="container">
                <div class="col-sm-5 section-heading">
                    <h2 class="section-title">Bảo mật thông tin tuyệt đối</h2>
                    <p class="section-subhead">
                        Hệ thống mạnh mẽ, bảo mật toàn bộ thông tin của bạn, thông tin khách hàng, đơn hàng của bạn...
                    </p>
                    <p class="link-row">
                        <img src="assets/images/upload/rapid-logo.png" alt="myface">
                    </p>
                </div>
                <div class="col-sm-7 section-media">
                    <img src="assets/images/upload/right-banner-1.png" alt="myface">
                    <div class="phone-box-img">
                        <img src="assets/images/upload/security-img.png" alt="myface">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section ">
        <div class="section-header text-center">
            <h2 class="section-title">Phát triển việc kinh doanh của bạn</h2>
            <p class="section-subhead">
                myFace giúp bạn xử lý và quản lý tất cả mọi việc, từ tạo đơn hàng, quản lý giao hàng, quản lý khách hàng, <br>tạo chương trình khuyến mãi cho đến báo cáo bán hàng chỉ trên một công cụ.
            </p>
        </div>
        <div class="section-content">
            <div class="container section-img text-center">
                <img src="assets/images/upload/ship-img.png" alt="myface" >
            </div>
        </div>
    </section>
    <section class="download-store download-question ">
        <div class="section-inner">
            <span class="download-question-text">Bạn đã sẵn sàng sử dụng myFace?</span>
            <a class="btn btn-lg btn-primary" href="https://my.myface.vn/admin/auth/register.html" target="_blank">Dùng thử miễn phí</a>
        </div>
    </section>
</main>
{% endblock %}
