{% set current_page = 'change-password' %} 
{% extends "layout/_layout.html" %} 
{% block page-container %}
<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="inner-breadcrumb">
                <a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
                <ul>
                    <li>
                        <i>&nbsp</i>
                    </li>
                    <li><a href="#">Tài khoản</a></li>
                    <li><a href="#">Thông tin chung</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="section my-acc">
        <div class="section-inner">
            <div class="container">
                <div class="acc-header">
                    <h2><span class="f-name f-account">Tài khoản của bạn</span></h2>
                    <div class="acc-greeting">
                        <h4>Chào, <strong>An</strong></h4>
                        <h5>Tại đây bạn có thể theo dõi các hoạt động gần đây của tài khoản, cũng như quản lý, thay đổi thông tin tài khoản.</h5>
                    </div>
                </div>
                <ul class="acc-tab">
                    <li><a class="{% if current_page == 'general-infor' %}active{% endif %}" href="general-infor.html">Thông tin chung</a></li>
                    <li><a class="{% if current_page == 'account' %}active{% endif %}" href="account.html">Thông tin tài khoản</a></li>
                    <li><a class="{% if current_page == 'cart-management' %}active{% endif %}" href="cart-management.html">Quản lý đơn hàng</a></li>
                    <li><a class="{% if current_page == 'myxu' %}active{% endif %}" href="myXu.html">Thông tin MyXu - tiền thưởng</a></li>
                    <li><a class="{% if current_page == 'register-receive' %}active{% endif %}" href="register-receive.html">Đăng nhận bản tin - ưu đãi</a></li>
                    <li><a class="{% if current_page == 'change-password' %}active{% endif %}" href="change-password.html">Thay đổi mật khẩu</a></li> 
                    <li class="clear"></li>
                </ul>
                <div class="acc-body">
                    <div class="panel-info acc-info-change">
                        <h3><i class="fa fa-circle-o"></i> Thay đổi mật khẩu tài khoản</h3>
                        <div class="panel-info-body clr">
                            <ul>
                                <li>
                                    <label>Mật khẩu cũ:</label>
                                    <span><input type="password"></span>
                                </li>
                                <li>
                                    <label>Mật khẩu mới:</label>
                                    <span><input type="password"></span>
                                </li>
                                <li>
                                    <label>Nhập lại mật khẩu mới:</label>
                                    <span><input type="password"></span>
                                </li>                               
                            </ul>
                            <div class="change-info">
                                <button class="change-info-btn">Lưu thay đổi</button>
                            </div>
                        </div>
                    </div>
                    <!-- /end panel-list-->
                </div>
            </div>
        </div>        
    </section>
</main>
{% endblock %}