{% set current_page = 'detail' %} 
{% extends "layout/_layout.html" %} 
{% block page-container %}
<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="inner-breadcrumb">
                <a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
                <ul>
                    <li class="cate1">
                        <a class="showName" href="#">Máy tính & Laptop</a><i class="fa fa-angle-down" aria-hidden="true"></i>
                        <div class="scrollbar">
                            <ul class="list-cate">
                                <li><a href="#" title="">Thời trang nam</a></li>
                                <li><a href="#" title="">Điện thoại và phụ kiện</a></li>
                                <li><a href="#" title="">Thiết bị điện tử</a></li>
                                <li><a href="#" title="">Máy tính & Laptop</a></li>
                                <li><a href="#" title="">Máy ảnh - Máy quay phim</a></li>
                                <li><a href="#" title="">Đồng hồ</a></li>
                                <li><a href="#" title="">Giày dép nam</a></li>
                                <li><a href="#" title="">Thiết bị gia dụng</a></li>
                                <li><a href="#" title="">Thể thao & Du lịch</a></li>
                                <li><a href="#" title="">Bách hóa online</a></li>
                                <li><a href="#" title="">Thời trang nữ</a></li>
                                <li><a href="#" title="">Mẹ & bé</a></li>
                                <li><a href="#" title="">Nhà cửa & đời sống</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Máy tính</a></li>
                    <li><a href="#">Nhat duy laptop</a></li>
                    <li><a href="#">Acer ES1-567-323</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="section section-top-detail">
        <div class="section-inner">
            <div class="container">
                <div class="left-block col-md-6">
                    <div class="bzoom_wrap hidden-xs hidden-sm">
                        <ul id="bzoom">
                            <li>
                                <img class="bzoom_thumb_image" src="assets/images/upload/product/main-detail.png" title="first img" />
                                <img class="bzoom_big_image" src="assets/images/upload/product/sub-detail1.png" />
                            </li>
                            <li>
                                <img class="bzoom_thumb_image" src="assets/images/upload/product/sub-detail2.png" />
                                <img class="bzoom_big_image" src="assets/images/upload/product/sub-detail2.png" />
                            </li>
                            <li>
                                <img class="bzoom_thumb_image" src="assets/images/upload/product/sub-detail3.png" />
                                <img class="bzoom_big_image" src="assets/images/upload/product/sub-detail3.png" />
                            </li>
                            <li>
                                <img class="bzoom_thumb_image" src="assets/images/upload/product/sub-detail4.png" />
                                <img class="bzoom_big_image" src="assets/images/upload/product/sub-detail4.png" />
                            </li>
                            <li>
                                <img class="bzoom_thumb_image" src="assets/images/upload/product/sub-detail5.png" />
                                <img class="bzoom_big_image" src="assets/images/upload/product/sub-detail5.png" />
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-container MobileSlide visible-xs visible-sm">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a></div>
                            <div class="swiper-slide"><a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a></div>
                            <div class="swiper-slide"><a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a></div>
                            <div class="swiper-slide"><a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a></div>
                            <div class="swiper-slide"><a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="right-block col-md-6">
                    <h3 class="name-product">Laptop Acer R5 471T 54W0 i5 6200U (NX.G7WSV.002) Core i5, Ram 4GB</h3>
                    <p class="time-update">Cậ̣p nhật 12/8/2017 lúc 08:00</p>
                    <ul class="list-infor">
                        <li class="item-price">
                            <p class="old-price">15.999.000 <sup>đ</sup></p>
                            <p class="new-price">12.999.000 <sup>đ</sup> </p>
                            <div class="sale"><i class="fa fa-tag" aria-hidden="true"></i>20%</div>
                        </li>
                        <li class="item-place">
                            <label>Giao hàng đến</label>
                            <div class="wrap_select">
                                <select class="form-control">
                                    <option>Hồ Chí Minh</option>
                                    <option>Hà nội</option>
                                    <option>Nghệ an</option>
                                    <option>Đà Nẵng</option>
                                </select>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                            <span>với chi phí 12.000đ</span>
                        </li>
                        <li class="item-color">
                            <label>Màu sắc</label>
                            <ul class="list-color">
                                <li>
                                    <a href="#">
                                        <div class="boxs">Đen</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="boxs">Trắng</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="boxs">Xám</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="boxs">Đỏ</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-number">
                            <label>Số lượng</label>
                            <input class="form-control" type="number" name="" value="1">
                            <span>còn 20 sản phẩm</span>
                        </li>
                        <li class="item-button">
                            <button class="btn btn-add-cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Thêm vào giỏ hàng</button>
                            <button class="btn btn-buy"><i class="icon-buy">&nbsp</i> Mua ngay</button>
                            <button class="btn btn-chat"><i class="icon-chat">&nbsp</i> Chat ngay</button>
                        </li>
                        <li class="item-share">
                            <label>Chia sẻ sản phẩm trên</label>
                            <ul class="list-icon">
                                <li><a href="#"><i class="icon-facebook">&nbsp</i></a></li>
                                <li><a href="#"><i class="icon-messenger">&nbsp</i></a></li>
                                <li><a href="#"><i class="icon-zalo">&nbsp</i></a></li>
                                <li><a href="#"><i class="icon-instagram">&nbsp</i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-bottom-detail">
        <div class="section-inner">
            <div class="container">
                <div class="left-block col-md-6">
                    <div class="tab">
                        <button class="tablinks active" onclick="openCity(event, 'information-product')">Thông tin sản phẩm</button>
                        <button class="tablinks" onclick="openCity(event, 'number-product')">Thông số sản phẩm</button>
                        <button class="tablinks" onclick="openCity(event, 'comment-product')">Bình luận <span class="number">(5)</span></button>
                    </div>
                    <div id="information-product" class="tabcontent">
                        <h3 class="title-name">Laptop Acer R5 471T 54W0 i5 6200U (NX.G7WSV.002) Core i5, Ram 4GB</h3>
                        <strong>Thiết kế trẻ trung, năng động</strong>
                        <p>Không sở hữu quá nhiều đường nét nổi bật nhưng Acer Aspire E5-575G-73SG NX.GDWSV.008 lại tạo ấn tượng với người dùng ở thiết kế đơn giản nhưng trẻ trung, năng động và hợp thời trang. Máy có lớp vỏ nhựa cao cấp được làm nhám đẹp mắt vừa giúp chống dấu vân tay hiệu quả vừa mang lại cho máy một vẻ ngoài cứng cáp và chắc chắn. Các cạnh máy đều được bo cong vừa phải tạo cảm giác mềm mại, đồng thời giúp bạn dễ dàng bỏ máy vào ba lô hay túi xách mỗi khi mang theo bên mình. Trong khi đó, các chi tiết như quạt tản nhiệt, các cổng kết nối,… đều được bố trí hợp lý trên thân máy nhằm mang lại sự thuận tiện tối đa cho mỗi thao tác của người dùng.</p>
                        <div class="text-center"><img class="image-detail" src="assets/images/upload/product/detail1.png" alt="detail img"></div>
                        <strong>Làm việc và giải trí với màn hình lớn 15.6 inch</strong>
                        <p>Laptop Acer Aspire E5-575G-73SG NX.GDWSV.008 được trang bị màn hình kích thước lớn 15.6 inch độ phân giải chuẩn FHD 1920 x 1080 pixels cùng công nghệ nền LED Backlit giúp hình ảnh hiển thị sâu, sắc nét, màu sắc chân thực và góc nhìn rộng. Kích thước màn hình lớn cũng mang lại cho bạn nhiều không gian rộng hơn mỗi khi làm việc cũng như giải trí với các bộ phim hấp dẫn. Bên cạnh đó, Acer Aspire E5 có hệ thống loa ngoài lớn và được tích hợp công nghệ âm thanh High Definition Audio cho âm thanh sống động, rõ ràng và không có hiện tượng méo tiếng hay bị rè khi hoạt động với công suất lớn. Nhờ vậy, những giây phút giải trí của bạn sẽ thú vị hơn rất nhiều.</p>
                        <div class="text-center"><img class="image-detail" src="assets/images/upload/product/detail2.png" alt="detail img"></div>
                        <strong>Cấu hình mạnh mẽ, ổn định</strong>
                        <p>Acer Aspire E5-575G-73SG NX.GDWSV.008 được trang bị vi xử lý Intel Core i7-7500U 2.7GHz, RAM 8GB. Dung lượng RAM lớn sẽ giảm tải gánh nặng xử lý từ CPU, giúp máy khắc phục đáng kể các hiện tượng bóng mờ, giật hình hay treo máy khi đang sử dụng. Không những thế, RAM 8GB còn giúp cho máy hiển thị hình ảnh một cách mượt mà với đầy đủ các dãy màu sắc nét, đặc biệt là khi máy tính sử dụng card đồ họa tích hợp.</p>                        
                    </div>
                    <div id="number-product" class="tabcontent">
                        <div class = "information-product">
                        	<h3 class="title-name">Laptop Acer R5 471T 54W0 i5 6200U (NX.G7WSV.002) Core i5, Ram 4GB</h3>
                            <table >
                                <tbody>
                                    <tr>
                                        <td><b>SKU</b></td>
                                        <td>SPATDTT0000210</td>
                                    </tr>
                                    <tr>
                                        <td><b>Thương hiệu</b></td>
                                        <td>Purite By Provence</td>
                                    </tr>
                                    <tr>
                                        <td><b>Danh mục</b></td>
                                        <td>Tẩy trang</td>
                                    </tr>
                                    <tr>
                                        <td><b>Tên sản phẩm</b></td>
                                        <td>Xà Bông Rửa Mặt Hoa Anh Đào Face Soap Cherry Blossom - Purite By Provence PVC-07-014</td>
                                    </tr>
                                    <tr>
                                        <td><b>Xuất xứ thương hiệu</b></td>
                                        <td>Pháp</td>
                                    </tr>
                                    <tr>
                                        <td><b>Trọng lượng sản phẩm kèm bao bì</b></td>
                                        <td>50 grams</td>
                                    </tr>
                                    <tr>
                                        <td><b>Trọng lượng vận chuyển ước tính</b></td>
                                        <td>200 grams</td>
                                    </tr>
                                    <tr>
                                        <td><b>Thành phần</b></td>
                                        <td>Hoa anh đào</td>
                                    </tr>
                                    <tr>
                                        <td><b>Hạn sử dụng</b></td>
                                        <td>In trên bao bì sản phẩm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end part information product -->
                    </div>
                    <div id="comment-product" class="tabcontent">
                        <div class="note">
                            <strong>Hey! Đừng đi vội</strong>
                            <p>Sản phẩm, chất lượng, dịch vụ của Shop có làm bạn hài lòng không? Hãy để lại bình luận, đánh giá để mọi người biết nhé.</p>
                        </div>
                        <img src="assets/images/upload/plugin-fb.png" alt="facebook">
                    </div>
                </div>
                <div class="right-block col-md-6">
                    <div class="block-shop-infor">
                        <h3 class="title-block">Thông tin shop</h3>
                        <div class="row">
                            <div class="col-xs-9 col-sm-8 logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/icons/logo-shop.png" alt="logo-shop">
                                </div>
                                <div class="infor">
                                    <h4 class="title-shop">Cellphone S</h4>
                                    <p>Thường trả lời trong: 30 phút</p>
                                    <button class="btn btn-default">Xem shop</button>
                                    <button class="btn btn-default">Theo dõi</button>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-4 vote">
                                <div class="star"><i class="fa fa-star-o" aria-hidden="true"></i><b>4.6</b></div>
                                <p>Đánh giá</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-similar-pro">
                        <h3 class="title-block">Sản phẩm tương tự của shop</h3>
                        <div class="popular-product">
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-4">
                                <div class="col-product">
                                    <div class="wrap-img">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                                    </div>
                                    <div class="wrap-text">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                                    </div>
                                    <div class="shop-infor">
                                        <div class="logo-shop">
                                            <div class="wrap-logo">
                                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                            </div>
                                            <a href="#" target="_blank">Giaydepdocla</a>
                                            <div class="vote">
                                                <span class="number">4.5</span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-4">
                                <div class="col-product">
                                    <div class="wrap-img">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                                    </div>
                                    <div class="wrap-text">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                                    </div>
                                    <div class="shop-infor">
                                        <div class="logo-shop">
                                            <div class="wrap-logo">
                                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                            </div>
                                            <a href="#" target="_blank">Giaydepdocla</a>
                                            <div class="vote">
                                                <span class="number">4.5</span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-4">
                                <div class="col-product">
                                    <div class="wrap-img">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                                    </div>
                                    <div class="wrap-text">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                                    </div>
                                    <div class="shop-infor">
                                        <div class="logo-shop">
                                            <div class="wrap-logo">
                                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                            </div>
                                            <a href="#" target="_blank">Giaydepdocla</a>
                                            <div class="vote">
                                                <span class="number">4.5</span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-4">
                                <div class="col-product">
                                    <div class="wrap-img">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                                    </div>
                                    <div class="wrap-text">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                                    </div>
                                    <div class="shop-infor">
                                        <div class="logo-shop">
                                            <div class="wrap-logo">
                                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                            </div>
                                            <a href="#" target="_blank">Giaydepdocla</a>
                                            <div class="vote">
                                                <span class="number">4.5</span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-4">
                                <div class="col-product">
                                    <div class="wrap-img">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                                    </div>
                                    <div class="wrap-text">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                                    </div>
                                    <div class="shop-infor">
                                        <div class="logo-shop">
                                            <div class="wrap-logo">
                                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                            </div>
                                            <a href="#" target="_blank">Giaydepdocla</a>
                                            <div class="vote">
                                                <span class="number">4.5</span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-4">
                                <div class="col-product">
                                    <div class="wrap-img">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                                    </div>
                                    <div class="wrap-text">
                                        <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                                    </div>
                                    <div class="shop-infor">
                                        <div class="logo-shop">
                                            <div class="wrap-logo">
                                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                            </div>
                                            <a href="#" target="_blank">Giaydepdocla</a>
                                            <div class="vote">
                                                <span class="number">4.5</span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-buy-safe">
                        <h3 class="title-block">Mua hàng an toàn</h3>
                        <ul class="list-safe">
                            <li>Tìm hiểu kỹ càng thông tin hàng hóa, Shop bán hàng trước khi đặt hàng.</li>
                            <li>Xem kỹ phí vận chuyển, đóng gói, tổng số tiền phải trả. Liên hệ shop khi có vấn đề chưa rõ. </li>
                            <li>Kiểm tra hàng hóa cẩn thận khi nhận hàng</li>
                            <li>Không nhận hàng nếu nghi ngờ hàng giả, kém chất lượng, không giống mô tả trên website.</li>
                            <li>Thông báo qua số hotline: 1900 636 798 cho đội ngũ CSKH ngay khi gặp các sự cố về đơn hàng, hàng hóa. </li>
                        </ul>
                        <a href="#" class="view-more-buy">Xem thêm khuyến cáo mua hàng?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}