{% set current_page = 'index' %}
{% extends "layout/_layout.html" %}
{% block page-container %}
<main>
    <div class="svg-wrap">
        <svg width="14" height="14" viewBox="0 0 14 14">
            <path id="arrow-left-4" d="M15.946 48l0.003-10.33 47.411 0.003v-11.37h-47.414l0.003-10.304-15.309 16z" />
        </svg>
        <svg width="14" height="14" viewBox="0 0 14 14">
            <path id="arrow-right-4" d="M48.058 48l-0.003-10.33-47.414 0.003v-11.37h47.418l-0.003-10.304 15.306 16z" />
        </svg>
    </div>
    <section class="section section-trending color-4">
        <div class="section-inner">
            <div class="container">
                <h3 class="section-title">Xu hướng tìm kiếm</h3> <span class="time-update">Cập nhật lúc 7:00 AM</span>
                <div class="swiper-container container TrendingSlider nav-roundslide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend1.png" alt="myface">
                                <p class="text">Giày dép</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend2.png" alt="myface">
                                <p class="text">Áo lỡ</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend3.png" alt="myface">
                                <p class="text">Áo phông</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend4.png" alt="myface">
                                <p class="text">Áo nữ</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend5.png" alt="myface">
                                <p class="text">Phụ kiện</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend6.png" alt="myface">
                                <p class="text">Váy suông</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend7.png" alt="myface">
                                <p class="text">Áo thêu</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend8.png" alt="myface">
                                <p class="text">Thanh lý</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend9.png" alt="myface">
                                <p class="text">The face</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend10.png" alt="myface">
                                <p class="text">Sexy shop</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                <img src="assets/images/upload/product/trend1.png" alt="myface">
                                <p class="text">Phô mai</p>
                            </a>
                        </div>                           
                    </div>
                    <nav class="nav-roundslide">
                        <a class="prev swiper-button-prev" href="#">
                            <span class="icon-wrap"><svg class="icon" width="18" height="18" viewBox="0 0 64 64"><use xlink:href="#arrow-left-4"></svg></span>
                            <h3>Prev</h3>
                        </a>
                        <a class="next swiper-button-next" href="#">
                            <span class="icon-wrap"><svg class="icon" width="18" height="18" viewBox="0 0 64 64"><use xlink:href="#arrow-right-4"></svg></span>
                            <h3>Next</h3>
                        </a>
                    </nav>
                </div>
            </div>
        </div>        
    </section>
    <section class="section section-banner">
        <div class="section-inner">
            <div class="container">
                <!--wrap-banner-->
                <div class="row wrap-banner">
                    <!--banner-left-->
                    <div class="col-md-9 banner-left">
                        <div class="swiper-container banner-item banner-1 OneLineSlider">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner-2.jpg" alt="myface"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner-2.jpg" alt="myface"></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img"><img src="assets/images/upload/banner/banner.jpg" alt="myface"></a>
                                </div>                          
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div><!--/.banner-left-->

                    <!--banner-right-->
                    <div class="col-md-3 banner-right">
                        <div class="banner-item banner-2">
                            <img src="assets/images/upload/banner/bannerb.jpg" alt="myface">
                        </div><!--/.banner-2-->
                        <div class="banner-item banner-3">
                            <img src="assets/images/upload/banner/bannerc.jpg" alt="myface">
                        </div><!--/.banner-3-->
                    </div><!--/.banner-right-->
                </div>
            </div>
        </div>
    </section>    
    <section class="section container section-category color-4">
        {% include "block/_category.html" %}
    </section>
    <section class="section container section-flashsale color-4">
        <i class="fa fa-bolt" aria-hidden="true"></i>
        <h3 class="section-title">Flash Sale</h3> 
        <a href="#" class="view-more pull-right" title="xem thêm">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <span id="countdown"></span>
        <div class="wrap-flashsale swiper-container FlashSlider nav-roundslide">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash1.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>                    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash2.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">159,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>   
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash3.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>   
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash4.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>   
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash5.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right"><span class="price" style="letter-spacing: -1px;">Cháy hàng</span></span>  
                        </div>   
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash6.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>   
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash6.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>   
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wrap-img">
                        <a href="#" title="Chân váy jammies đắp tà...">
                            <div class="sale-percent"><b>35%</b></div>
                            <img src="assets/images/upload/product/flash6.jpg">
                        </a>
                    </div>
                    <div class="wrap-text">
                        <a href="#" title="Chân váy jammies đắp tà...">Chân váy jammies đắp tà...</a>
                        <p class="price">99,000 <sup>đ</sup></p><span class="saled">Đã bán 35 sp</span>
                        <div class="bar-line">
                            <i class="icon-fire">&nbsp</i>
                            <div class="meter orange nostripes">
                                <span style="width: 33.3%"></span>
                            </div><span class="rest-pro pull-right">Còn <span class="price">15</span> sp</span>
                        </div>   
                    </div>
                </div>
            </div>
            <nav class="nav-roundslide">
                <a class="prev swiper-button-prev" href="#">
                    <span class="icon-wrap"><svg class="icon" width="18" height="16" viewBox="0 0 64 64"><use xlink:href="#arrow-left-4"></svg></span>
                    <h3>Prev</h3>
                </a>
                <a class="next swiper-button-next" href="#">
                    <span class="icon-wrap"><svg class="icon" width="18" height="16" viewBox="0 0 64 64"><use xlink:href="#arrow-right-4"></svg></span>
                    <h3>Next</h3>
                </a>
            </nav>
        </div>
    </section>
    <section class="section container section-popular">
        <h3 class="section-title">Sản phẩm phổ biến</h3> <span class="time-update">Cập nhật lúc 7:00 AM</span>
        <div class="popular-product">
            {% for x in [1,2] %}
                <div class="col-md-3 col-lg-2">
                    <div class="col-product">
                        <div class="wrap-img">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                        </div>
                        <div class="wrap-text">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                            <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                        </div>
                        <div class="shop-infor">
                            <div class="logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                </div>
                                <a href="#" target="_blank">Giaydepdocla</a>
                                <div class="vote">
                                    <span class="number">4.5</span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="col-product">
                        <div class="wrap-img">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product2.png" alt="myFace"></a>
                        </div>
                        <div class="wrap-text">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                            <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                        </div>
                        <div class="shop-infor">
                            <div class="logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                </div>
                                <a href="#" target="_blank">Giaydepdocla</a>
                                <div class="vote">
                                    <span class="number">4.5</span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="col-product">
                        <div class="wrap-img">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product3.png" alt="myFace"></a>
                        </div>
                        <div class="wrap-text">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                            <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                        </div>
                        <div class="shop-infor">
                            <div class="logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                </div>
                                <a href="#" target="_blank">Giaydepdocla</a>
                                <div class="vote">
                                    <span class="number">4.5</span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="col-product">
                       <div class="wrap-img">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product4.png" alt="myFace"></a>
                        </div>
                        <div class="wrap-text">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                            <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                        </div>
                        <div class="shop-infor">
                            <div class="logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                </div>
                                <a href="#" target="_blank">Giaydepdocla</a>
                                <div class="vote">
                                    <span class="number">4.5</span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div> 
                    </div>                
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="col-product">
                        <div class="wrap-img">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product5.png" alt="myFace"></a>
                        </div>
                        <div class="wrap-text">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                            <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                        </div>
                        <div class="shop-infor">
                            <div class="logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                </div>
                                <a href="#" target="_blank">Giaydepdocla</a>
                                <div class="vote">
                                    <span class="number">4.5</span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="col-product">
                        <div class="wrap-img">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product6.png" alt="myFace"></a>
                        </div>
                        <div class="wrap-text">
                            <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                            <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                        </div>
                        <div class="shop-infor">
                            <div class="logo-shop">
                                <div class="wrap-logo">
                                    <img src="assets/images/upload/logo-shop.png" alt="myFace">
                                </div>
                                <a href="#" target="_blank">Giaydepdocla</a>
                                <div class="vote">
                                    <span class="number">4.5</span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            {% endfor %}           
        </div>
    </section>
    <section class="section container section-recommend">
        {% include "block/_recommend.html" %}
    </section>
</main>
{% endblock %}
