{% set current_page = 'news' %} 
{% extends "layout/_layout.html" %} 
{% block page-container %}
<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="inner-breadcrumb">
                <a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="#">&nbsp;</a></li>
                    <li>
                        <a class="showName" href="#">Trang chủ</a>
                    </li>
                    <li><a href="#">Giới thiệu về myMall.vn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="section section-top-detail">
        <div class="section-inner">
            <div class="container">
                <div class="right-block col-md-3 col-md-push-9">
                    <div class="panel-group" id="accordion">
                        <div class="block-list-link panel">
                            <h3 class="title-block" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Về Mymall.vn <i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></h3>
                            <ul class="list-safe panel-collapse collapse" id="collapse2">
                                <li><a href="#" class="view-more-buy">Giới thiệu myMall.vn</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Chính sách bảo mật</a></li>
                                <li><a href="#" class="view-more-buy">Tuyên bố miễn trừ</a></li>
                                <li><a href="#" class="view-more-buy">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="block-list-link panel">
                            <h3 class="title-block" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Tin tức & Khuyến mãi<i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></h3>
                            <ul class="list-safe panel-collapse collapse" id="collapse3">
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                            </ul>
                        </div>
                        <div class="block-list-link panel">
                            <h3 class="title-block" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Hỗ trợ người mua<i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></h3>
                            <ul class="list-safe panel-collapse collapse" id="collapse4">
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                            </ul>
                        </div>                    
                        <div class="block-list-link panel">
                            <h3 class="title-block" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Dành cho người bán<i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></h3>
                            <ul class="list-safe panel-collapse collapse" id="collapse5">
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                                <li><a href="#" class="view-more-buy">Quy chế sàn giao dịch</a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
                <div class="right-block col-md-9 col-md-pull-3 left-side">
                    <h3 class="name-product">Giới thiệu về myMall.vn</h3>
                    <p class="time-update">Cậ̣p nhật 12/8/2017 lúc 08:00</p>
                    <ul class="list-infor">
                        <li class="item-share">
                            <label>Chia sẻ thông tin trên</label>
                            <ul class="list-icon">
                                <li><a href="#"><i class="icon-facebook">&nbsp</i></a></li>
                                <li><a href="#"><i class="icon-messenger">&nbsp</i></a></li>
                                <li><a href="#"><i class="icon-zalo">&nbsp</i></a></li>
                                <li><a href="#"><i class="icon-instagram">&nbsp</i></a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tabcontent show-infor-news" >
                        <p><strong>Không sở hữu quá nhiều đường nét nổi bật nhưng Acer Aspire E5-575G-73SG NX.GDWSV.008 lại tạo ấn tượng với người dùng ở thiết kế đơn giản nhưng trẻ trung, năng động và hợp thời trang. Máy có lớp vỏ nhựa cao cấp được làm nhám đẹp mắt vừa giúp chống dấu vân tay hiệu quả vừa mang lại cho máy một vẻ ngoài cứng cáp và chắc chắn. </strong></p>
                        <br>
                        
                        <p>Không sở hữu quá nhiều đường nét nổi bật nhưng Acer Aspire E5-575G-73SG NX.GDWSV.008 lại tạo ấn tượng với người dùng ở thiết kế đơn giản nhưng trẻ trung, năng động và hợp thời trang. Máy có lớp vỏ nhựa cao cấp được làm nhám đẹp mắt vừa giúp chống dấu vân tay hiệu quả vừa mang lại cho máy một vẻ ngoài cứng cáp và chắc chắn. Các cạnh máy đều được bo cong vừa phải tạo cảm giác mềm mại, đồng thời giúp bạn dễ dàng bỏ máy vào ba lô hay túi xách mỗi khi mang theo bên mình. Trong khi đó, các chi tiết như quạt tản nhiệt, các cổng kết nối,… đều được bố trí hợp lý trên thân máy nhằm mang lại sự thuận tiện tối đa cho mỗi thao tác của người dùng.</p>
                        <div class="text-center"><img class="image-detail" src="assets/images/upload/product/detail1.png" alt="detail img"></div>
                        <strong>Làm việc và giải trí với màn hình lớn 15.6 inch</strong>
                        <p>Laptop Acer Aspire E5-575G-73SG NX.GDWSV.008 được trang bị màn hình kích thước lớn 15.6 inch độ phân giải chuẩn FHD 1920 x 1080 pixels cùng công nghệ nền LED Backlit giúp hình ảnh hiển thị sâu, sắc nét, màu sắc chân thực và góc nhìn rộng. Kích thước màn hình lớn cũng mang lại cho bạn nhiều không gian rộng hơn mỗi khi làm việc cũng như giải trí với các bộ phim hấp dẫn. Bên cạnh đó, Acer Aspire E5 có hệ thống loa ngoài lớn và được tích hợp công nghệ âm thanh High Definition Audio cho âm thanh sống động, rõ ràng và không có hiện tượng méo tiếng hay bị rè khi hoạt động với công suất lớn. Nhờ vậy, những giây phút giải trí của bạn sẽ thú vị hơn rất nhiều.</p>
                        <div class="text-center"><img class="image-detail" src="assets/images/upload/product/detail2.png" alt="detail img"></div>
                        <strong>Cấu hình mạnh mẽ, ổn định</strong>
                        <p>Acer Aspire E5-575G-73SG NX.GDWSV.008 được trang bị vi xử lý Intel Core i7-7500U 2.7GHz, RAM 8GB. Dung lượng RAM lớn sẽ giảm tải gánh nặng xử lý từ CPU, giúp máy khắc phục đáng kể các hiện tượng bóng mờ, giật hình hay treo máy khi đang sử dụng. Không những thế, RAM 8GB còn giúp cho máy hiển thị hình ảnh một cách mượt mà với đầy đủ các dãy màu sắc nét, đặc biệt là khi máy tính sử dụng card đồ họa tích hợp.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}