{% set current_page = 'register-receive' %} 
{% extends "layout/_layout.html" %} 
{% block page-container %}
<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="inner-breadcrumb">
                <a href="./"><i class="fa fa-home" aria-hidden="true"></i></a>
                <ul>
                    <li class="cate1">
                        <a class="showName" href="#">Máy tính & Laptop</a>
                        <div class="scrollbar">
                            <ul class="list-cate">
                                <li><a href="#" title="">Thời trang nam</a></li>
                                <li><a href="#" title="">Điện thoại và phụ kiện</a></li>
                                <li><a href="#" title="">Thiết bị điện tử</a></li>
                                <li><a href="#" title="">Máy tính & Laptop</a></li>
                                <li><a href="#" title="">Máy ảnh - Máy quay phim</a></li>
                                <li><a href="#" title="">Đồng hồ</a></li>
                                <li><a href="#" title="">Giày dép nam</a></li>
                                <li><a href="#" title="">Thiết bị gia dụng</a></li>
                                <li><a href="#" title="">Thể thao & Du lịch</a></li>
                                <li><a href="#" title="">Bách hóa online</a></li>
                                <li><a href="#" title="">Thời trang nữ</a></li>
                                <li><a href="#" title="">Mẹ & bé</a></li>
                                <li><a href="#" title="">Nhà cửa & đời sống</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Máy tính</a></li>
                    <li><a href="#">Nhat duy laptop</a></li>
                    <li><a href="#">Acer ES1-567-323</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="section my-acc">
        <div class="section-inner">
            <div class="container">
                <div class="acc-header">
                <h2><span class="f-name f-account">Tài khoản của bạn</span></h2>
                <div class="acc-greeting">
                    <h4>Chào, <strong>An</strong></h4>
                    <h5>Tại đây bạn có thể theo dõi các hoạt động gần đây của tài khoản, cũng như quản lý, thay đổi thông tin tài khoản.</h5>
                </div>
                </div>
                <ul class="acc-tab">
                    <li><a class="active" href="general-infor.html">Thông tin chung</a></li>
                    <li><a href="account.html">Thông tin tài khoản</a></li>
                    <li><a href="cart-management.html">Quản lý đơn hàng</a></li>
                    <li><a href="myXu.html">Thông tin MyXu - tiền thưởng</a></li>
                    <li><a href="register-receive.html">Đăng nhận bản tin - ưu đãi</a></li>
                    <li><a href="change-password.html">Thay đổi mật khẩu</a></li> 
                    <li class="clear"></li>
                </ul>
                <div class="acc-body">
                    <div class="panel-info newsletter-change">
                        <h3><i class="fa fa-circle-o"></i> Đăng kí nhận bản tin</h3>
                        <div class="panel-info-body clr">
                            <ol class="newsletter-signin clr">
                                <li>
                                    <input type="checkbox"/> Tất cả
                                </li>
                                <li>
                                    <input type="checkbox"/> Hàng tuần
                                </li>
                                <li>
                                    <input type="checkbox"/> Hàng tháng
                                </li>
                                <li>
                                    <input type="checkbox"/> Chỉ khi có khuyến mãi lớn.
                                </li>
                            </ol>

                            <h5>Sở thích của bạn</h5>
                            <ol class="like-signin clr">
                                <li>
                                    Thời trang <span class="like-btn"><i class="fa fa-heart"></i></span>
                                </li>
                                <li>
                                    Mẹ & bé <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li> 
                                    Điển tử <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li>
                                    Mỹ phẩm, Gia dụng <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li>
                                    Thời trang <span class="like-btn"><i class="fa fa-heart"></i></span>
                                </li>
                                <li>
                                    Mẹ & bé <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li> 
                                    Điển tử <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li>
                                    Mỹ phẩm, Gia dụng <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li> 
                                    Điển tử <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li>
                                    Mỹ phẩm, Gia dụng <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li>
                                    Thời trang <span class="like-btn"><i class="fa fa-heart"></i></span>
                                </li>
                                <li>
                                    Thời trang <span class="like-btn"><i class="fa fa-heart"></i></span>
                                </li>
                                <li>
                                    Mẹ & bé <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                                <li> 
                                    Điển tử <span class="like-btn"><i class="fa fa-heart"></i>
                                </li>
                            </ol>



                            <div class="change-info tc">
                                <button class="blue-normal-btn">Lưu thay đổi</button>
                            </div>
                        </div>
                    </div>
                    <!-- /end panel-list-->
                </div>
            </div>
        </div>        
    </section>
</main>
{% endblock %}