{% set current_page = 'shop-detail' %} {% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <section class="section section-banner-shop">
        <div class="section-inner">
            <div class="container">
                <div class="infor-shop">
                    <div class="wrap-logo">
                        <a href="shop-detail.html" title="shop-detail"><img src="assets/images/upload/logo-shop-detail.png" alt="logo-shop"></a>
                    </div>
                    <h3 class="title-shop">Điện máy gia khang - HCM</h3>
                    <div class="information">
                        <ul class="list-star">
                            <li>Đánh giá: <span>4,5</span></li>
                            <li>Tỉ lệ phản hồi: <span>95%</span></li>
                        </ul>
                        <ul class="list-star">
                            <li>Thời gian trả lời: <span>40 phút</span></li>
                            <li>Thời gian chuẩn bị hàng: <span>3 giờ</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="fixed-block-menu">
        <div class="block-menu menu-shop">
            <div class="section-inner">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="container">
                            <div class="inner-breadcrumb">
                                <ul>
                                    <li>
                                        <a href="./"><b>Trang chủ</b></a>
                                    </li>
                                    <li><a href="#">Điện máy gia khang</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section-menu">
            <div class="section-inner">
                <div class="container">
                    <div class="container swiper-wrapper">
                        <div class="swiper-container MenuSlide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Giày dép</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo lỡ</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo phông phông</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo nữ</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phụ kiện</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Váy suông</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Áo thêu</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Thanh lý</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">The face</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Phô mai</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop shop</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop</p>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);" title="" target="_blank" class="link-img">
                                        <p class="text">Sexy shop</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="next-pre">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="list-filter">
                        <ul class="price-level">
                            <li><b>Mức giá:</b></li>
                            <li><a href="javascript:void(0);">Dưới 100k</a></li>
                            <li><a href="javascript:void(0);">100k-150k</a></li>
                            <li><a href="javascript:void(0);">150k-200k</a></li>
                            <li><a href="javascript:void(0);">200k-250k</a></li>
                        </ul>
                        <div class="other-price">
                            <!-- <label>Mức giá khác:</label> -->
                            <select class="form-control" id="resizing_select">
                                <option>Mức giá khác</option>
                                <option>250k-300k</option>
                                <option>300k-500k</option>
                                <option>500k-1000k</option>
                            </select>
                            <select id="width_tmp_select">
                                <option id="width_tmp_option"></option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <div class="color-choose">
                                <label>Màu sắc:</label>
                                <select class="form-control" id="resizing_select1">
                                    <option>Da</option>
                                    <option>Đỏ</option>
                                    <option>Cam</option>
                                </select>
                                <select id="width_tmp_select1">
                                    <option id="width_tmp_option1"></option>
                                </select>
                            </div>
                            <div class="size-choose">
                                <label>Kích thước:</label>
                                <select class="form-control" id="resizing_select2">
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                </select>
                                <select id="width_tmp_select2">
                                    <option id="width_tmp_option2"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section container section-padding section-pro-shop" id="menu_fixed">
        {% include "block/_recommend.html" %} {% include "block/_recommend.html" %}
        <div class="popular-product">
            <div class="col-md-3 col-lg-2">
                <div class="col-product">
                    <div class="wrap-img">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
                    </div>
                    <div class="wrap-text">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                    </div>
                    <div class="shop-infor">
                        <div class="logo-shop">
                            <div class="wrap-logo">
                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                            </div>
                            <a href="#" target="_blank">Giaydepdocla</a>
                            <div class="vote">
                                <span class="number">4.5</span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="col-product">
                    <div class="wrap-img">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product2.png" alt="myFace"></a>
                    </div>
                    <div class="wrap-text">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                    </div>
                    <div class="shop-infor">
                        <div class="logo-shop">
                            <div class="wrap-logo">
                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                            </div>
                            <a href="#" target="_blank">Giaydepdocla</a>
                            <div class="vote">
                                <span class="number">4.5</span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="col-product">
                    <div class="wrap-img">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product3.png" alt="myFace"></a>
                    </div>
                    <div class="wrap-text">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                    </div>
                    <div class="shop-infor">
                        <div class="logo-shop">
                            <div class="wrap-logo">
                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                            </div>
                            <a href="#" target="_blank">Giaydepdocla</a>
                            <div class="vote">
                                <span class="number">4.5</span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="col-product">
                    <div class="wrap-img">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product4.png" alt="myFace"></a>
                    </div>
                    <div class="wrap-text">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                    </div>
                    <div class="shop-infor">
                        <div class="logo-shop">
                            <div class="wrap-logo">
                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                            </div>
                            <a href="#" target="_blank">Giaydepdocla</a>
                            <div class="vote">
                                <span class="number">4.5</span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="col-product">
                    <div class="wrap-img">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product5.png" alt="myFace"></a>
                    </div>
                    <div class="wrap-text">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                    </div>
                    <div class="shop-infor">
                        <div class="logo-shop">
                            <div class="wrap-logo">
                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                            </div>
                            <a href="#" target="_blank">Giaydepdocla</a>
                            <div class="vote">
                                <span class="number">4.5</span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="col-product">
                    <div class="wrap-img">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product6.png" alt="myFace"></a>
                    </div>
                    <div class="wrap-text">
                        <a href="detail.html" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                        <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
                    </div>
                    <div class="shop-infor">
                        <div class="logo-shop">
                            <div class="wrap-logo">
                                <img src="assets/images/upload/logo-shop.png" alt="myFace">
                            </div>
                            <a href="#" target="_blank">Giaydepdocla</a>
                            <div class="vote">
                                <span class="number">4.5</span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}