<footer class=" main-footer {% if current_page == 'index' or current_page == 'detail' or current_page == 'news'%}margin-top{% endif %}">
  <div class="container">
    <!--footer-row-1-->
    <div class="footer-row-1">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 f-block-1">
          <ul class="list-group">
            <li class="li-item f-logo">
              <a href="#"><img class="" src="assets/images/logo.png" alt="myface"></a>
            </li>
            <li class="li-item f-title">myMall là gì?</li>
            <li class="li-item">
              <a class="mf-about" href="support-center.html">
                <p>myMall là trang Thương mại điện tử và là Cộng đồng mua bán sôi động các sản phẩm với giá cả phù hợp cho mọi người... <span class="readmore">Xem thêm</span></p>
              </a>
            </li>
            <li class="li-item f-bct visible-lg">
              <span class="bct">
                <a target="_blank" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=26445">
                  <img class="" src="assets/images/upload/bct.png" alt="myface">
                </a>
              </span>
              <span class="nt"><img class="" src="assets/images/upload/ssl.png" alt="myface"></span>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 f-block-2">
            <ul class="list-group">
              <li class="li-item f-phone">
                <a href="tel:1900636798">
                  Hotline hỗ trợ
                  <span class="f-title">1900 636 798</span>
                  (08-18h / T2-T7)
                </a>
              </li>
              <li class="li-item f-introduce">
                <a href="support-center.html">Giới thiệu</a>
              </li>
              <li class="li-item">
                <a href="support-center.html">Quy chế sàn giao dịch</a>
              </li>
              <li class="li-item">
                <a href="support-center.html">Chính sách bảo mật</a>
              </li>
              <li class="li-item">
                <a href="support-center.html">Tuyên bố miễn trừ</a>
              </li>
              <li class="li-item">
                <a href="#" data-toggle="modal" data-target="#contact-modal">Liên hệ</a>
              </li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 f-block-3">
            <ul class="list-group">
            <li class="li-item f-title">Hỗ trợ người mua</li>
            <li class="li-item">
              <a href="support-center.html">Hướng dẫn người mua</a>
            </li>
             <li class="li-item">
              <a href="support-center.html">Bảo vệ người mua</a>
            </li>
             <li class="li-item">
              <a href="support-center.html">Đổi trả - bảo hành</a>
            </li>
             <li class="li-item">
              <a href="support-center.html">Giải quyết khiếu nại</a>
            </li>
            <li class="li-item">
              <a href="support-center.html">Bảo mật thông tin</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 f-block-4">
            <ul class="list-group">
            <li class="li-item f-title">Dành cho người bán</li>
            <li class="li-item">
              <a href="#">Bán hàng trên myFace Shop</a>
            </li>
             <li class="li-item">
              <a href="#">Quy định pháp lý</a>
            </li>
             <li class="li-item">
              <a href="#">Quy định hàng hóa</a>
            </li>
             <li class="li-item">
              <a href="#">Ưu đãi & hợp tác</a>
            </li>
            <li class="li-item">
              <a class="create-shop" href="#">Mở myFace Shop</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 visible-lg visible-md  col-sm-4 col-md-3 f-block-5">
            <ul class="list-group">
            <li class="li-item">
              <img src="assets/images/upload/fb-img.png" alt="myface">
            </li>
          </ul>
        </div>
      </div>
    </div><!--footer-row-1-->
    <!--footer-row-2-->
    <div class="footer-row-2">
      <p class="f-address">©2017 - Công ty TNHH Thương mại Điện Tử Modern Life Địa chỉ: P802, C.T Plaza Trường Sơn, P.2, Q. Tân Bình, TP. Hồ Chí Minh. GP số: 0312952658 do Sở kế hoạch & Đầu tư TP. Hồ Chí Minh cấp ngày 02/10/2014</p>
    </div><!--/.footer-row-2-->
    <a href="#" class="back-top-btn" style="display: inline;">
      <span class="fa fa-angle-up"></span>
    </a>
  </div>
</footer><!--/.footer-->