<footer class="footer-error">
    <div class="container">
        <ul class="listmenu">
            <li class="item-menu">
                <a href="#">Hướng dẫn đặt hàng</a>
            </li>
            <li class="item-menu">
                <a href="#">Hướng dẫn thanh toán</a>
            </li>
            <li class="item-menu">
                <a href="#">Hướng dẫn đổi trả - hoán tiền</a>
            </li>
            <li class="item-menu">
                <a href="#">Các vấn đề về đơn hàng</a>
            </li>
            <li class="item-menu">
                <a href="#">Cần trợ giúp trực tuyến</a>
            </li>
        </ul>
        <p class="line-footer">©2017 - Bản quyền của Công ty TNHH Thương Mại Điện Tử Modern Life.</p>
    </div>
</footer>