<header>
    <div class="header-fixed">
        <div class="header-top">
            <div class="container">
                <a href="#" class="head-line"><i class="fa fa-flag" aria-hidden="true"></i> Chương trình khuyến mãi mở shop trên myMall, tặng ngay xe Vespa vào tháng 10</a>
                <div class="pull-right">
                    <a href="#"><b>Kênh người bán</b></a>
                    <a href="#"><b>Hỗ trợ</b></a>
                    <a href="#"><b>Kiểm tra đơn hàng</b></a>
                </div>
            </div>
        </div>
        <nav class="navbar header-menu">
            <div class="container">
                <div class="first-row">
                    <h1 class="col-md-2 navbar-header logo-header">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.png" alt="myface" >
                        </a>
                    </h1>
                    <form class="col-md-7 search-nav">
                        <div class="input-group header-search">
                            <div class="input-group-btn select-btn">
                                <select class="selectpicker cate-search">
                                    <option>Tất cả</option>
                                    <option>Danh mục 1</option>
                                    <option>Danh mục 2</option>
                                    <option>Danh mục 3</option>
                                    <option>Danh mục 5</option>
                                </select>
                            </div>
                            <input aria-label="..." class="form-control input-search" placeholder="Xu hướng tìm: Note 7, Mi brand 2, son duong moi..." type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <!-- form search data =========-->
                        <div class="result-search scrollbar" id="show-result">
                            <ul class="popular-result">
                                <li>
                                    <a href="#">Giày cao gót <span>trong </span><span class="category">Thời trang</span></a>
                                </li>
                                <li>
                                    <a href="#">Giày cao gót <span>trong </span><span class="category">Phụ kiện</span></a>
                                </li>
                                <li>
                                    <a href="#">Giày cao gót <span>trong </span><span class="category">Sách</span></a>
                                </li>
                                <li><a href="#">Giày cao gót</a></li>
                                <li><a href="#">Giày cao gót</a></li>
                                <li><a href="#">Giày cao gót</a></li>
                            </ul>
                            <div class="recommend-result">
                                <p class="title">Sản phẩm gợi ý</p>
                                <ul class="list-result">
                                    <li class="item-result">
                                        <a href="#">
                                            <div class="wrap-img">
                                                <img src="assets/images/upload/product/recommend-1.png" alt="recommend">
                                            </div>
                                            <div class="information">
                                                <p>Giày Cao Gót 7cm Huy Hoàng HH7020 - Đen</p>
                                                <p class="price">379.000₫</p> <span>455.000₫</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-result">
                                        <a href="#">
                                            <div class="wrap-img">
                                                <img src="assets/images/upload/product/recommend-2.png" alt="">
                                            </div>
                                            <div class="information">
                                                <p>Giày Cao Gót Mũi Nhọn Cindydrella L8K - Kem</p>
                                                <p class="price">269.000₫ </p> <span>359.000₫</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-result">
                                        <a href="#">
                                            <div class="wrap-img">
                                                <img src="assets/images/upload/product/recommend-3.png" alt="">
                                            </div>
                                            <div class="information">
                                                <p>Hoa Xương Rồng Nở Trên Giày Cao Gót</p>
                                                <p class="price">50.000₫ </p> <span>62.000₫</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-result">
                                        <a href="#">
                                            <div class="wrap-img">
                                                <img src="assets/images/upload/product/recommend-4.png" alt="">
                                            </div>
                                            <div class="information">
                                                <p>Giày Cao Gót G Alanti GS15-281-172-K - Kem</p>
                                                <p class="price">289.000₫ </p> <span>319.000₫</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-result">
                                        <a href="#">
                                            <div class="wrap-img">
                                                <img src="assets/images/upload/product/recommend-5.png" alt="">
                                            </div>
                                            <div class="information">
                                                <p>Giày Cao Gót G Alanti GS15-290-66-K - Đỏ</p>
                                                <p class="price">219.000₫</p> <span>379.000₫</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-3 account-nav">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown account-block">
                                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <div class="account-img">
                                        <img src="assets/images/upload/user/user-1.png" class="acc-image img-circle" alt="myface">
                                    </div>
                                    <div class="account-label">
                                        <span class="account-label-1" data-original-title="" title="">Tài khoản của bạn</span>
                                    </div>
                                </div>
                                <ul class="dropdown-menu login-dropdown" id="formLogin">
                                    <label class="form-title">Đăng nhập</label>
                                    <li class="form-group lg-row-1">
                                        <button class="btn btn-default btn-lg-by-face">
                                            <i class="fa fa-facebook"></i><span>Đăng nhập bằng Facebook</span>
                                        </button>
                                    </li>
                                    <li class="form-group lg-row-2">
                                        <input value="" id="txt_email" name="email" type="email" class="form-control" placeholder="Đăng nhập bằng email">
                                    </li>
                                    <li class="form-group lg-row-3">
                                        <input value="" id="txt_password" name="password" type="password" class="form-control" placeholder="Nhập mật khẩu">
                                    </li>
                                    <li class="form-group lg-row-4">
                                        <div class="checkbox color-radio">
                                            <label class="remember-text">
                                                <input type="checkbox" name="remember_me_shop" id="remember_me_shop" value="1" checked="checked">
                                                <span>Nhớ tài khoản</span>
                                            </label>
                                        </div>
                                        <a class="lg-a-text pull-right" href="" data-toggle="modal" data-target="#forgetpass-modal">Quên mật khẩu?</a>
                                        
                                    </li>
                                    <li class="form-group lg-row-5">
                                        <input type="hidden" name="url" value="/">
                                        <input id="btnLogin" type="submit" class="btn btn-primary lg-button" value="Đăng nhập">
                                    </li>
                                    <li class="form-group lg-row-6">
                                        <div class="text-center">
                                            <span class="lg-span-text"> Chưa có tài khoản?</span> <a class="lg-a-text" href="/register">Đăng
                                                ký</a>
                                        </div>
                                    </li>
                                </ul>  
                                <!-- case login sucess -->
                                <!-- <ul class="dropdown-menu account-dropdown">
                                    <li><a href="/user_account/general">Quản lý tài khoản</a></li>
                                    <li><a href="/user_account/order_info">Đơn hàng của tôi</a></li>
                                    <li><a href="/user_account/address_book">Thông tin giao hàng</a></li>
                                    <li><a href="#" id="btn_logout">Thoát khỏi tài khoản</a></li>
                                </ul> -->                            
                            </li>
                            <li class="cart-block">
                                <a class="cart-link" href="cart.html" data-placement="bottom" title="" data-original-title="Giỏ hàng của bạn">
                                    <span class="cart-number">0</span>
                                </a>
                            </li>
                            
                        </ul>

                    </div>
                </div>
                <!-- <button class="hamburger-btn menu-mobile-toggle"></button> -->
            </div>
        </nav>
        
    </div>
</header>