<div class="popular-product">
    {% for x in [1,2,3,4] %}
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="col-product">
            <div class="wrap-img">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product1.png" alt="myFace"></a>
            </div>
            <div class="wrap-text">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
            </div>
            <div class="shop-infor">
                <div class="logo-shop">
                    <div class="wrap-logo">
                        <img src="assets/images/upload/logo-shop.png" alt="myFace">
                    </div>
                    <a href="#" target="_blank">Giaydepdocla</a>
                    <div class="vote">
                        <span class="number">4.5</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="col-product">
            <div class="wrap-img">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product2.png" alt="myFace"></a>
            </div>
            <div class="wrap-text">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
            </div>
            <div class="shop-infor">
                <div class="logo-shop">
                    <div class="wrap-logo">
                        <img src="assets/images/upload/logo-shop.png" alt="myFace">
                    </div>
                    <a href="#" target="_blank">Giaydepdocla</a>
                    <div class="vote">
                        <span class="number">4.5</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="col-product">
            <div class="wrap-img">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product3.png" alt="myFace"></a>
            </div>
            <div class="wrap-text">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
            </div>
            <div class="shop-infor">
                <div class="logo-shop">
                    <div class="wrap-logo">
                        <img src="assets/images/upload/logo-shop.png" alt="myFace">
                    </div>
                    <a href="#" target="_blank">Giaydepdocla</a>
                    <div class="vote">
                        <span class="number">4.5</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="col-product">
            <div class="wrap-img">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product4.png" alt="myFace"></a>
            </div>
            <div class="wrap-text">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
            </div>
            <div class="shop-infor">
                <div class="logo-shop">
                    <div class="wrap-logo">
                        <img src="assets/images/upload/logo-shop.png" alt="myFace">
                    </div>
                    <a href="#" target="_blank">Giaydepdocla</a>
                    <div class="vote">
                        <span class="number">4.5</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="col-product">
            <div class="wrap-img">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product5.png" alt="myFace"></a>
            </div>
            <div class="wrap-text">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
            </div>
            <div class="shop-infor">
                <div class="logo-shop">
                    <div class="wrap-logo">
                        <img src="assets/images/upload/logo-shop.png" alt="myFace">
                    </div>
                    <a href="#" target="_blank">Giaydepdocla</a>
                    <div class="vote">
                        <span class="number">4.5</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="col-product">
            <div class="wrap-img">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black"><img src="assets/images/upload/product/product6.png" alt="myFace"></a>
            </div>
            <div class="wrap-text">
                <a href="#" title="Giày convert cao cổ cho nam - STM2346 - Black">Giày convert cao cổ cho nam - STM2346 - Black</a>
                <span class="old-price">545.000đ</span> <span class="new-price">357.000đ</span>
            </div>
            <div class="shop-infor">
                <div class="logo-shop">
                    <div class="wrap-logo">
                        <img src="assets/images/upload/logo-shop.png" alt="myFace">
                    </div>
                    <a href="#" target="_blank">Giaydepdocla</a>
                    <div class="vote">
                        <span class="number">4.5</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
