<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="assets/js/plugin/libs.js" type="text/javascript"></script>
<script src="assets/js/lib/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/plugin/bootstrap-select.js" type="text/javascript"></script>
<script src="assets/js/plugin/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="assets/js/plugin/swiper.min.js" type="text/javascript"></script>
<script src="assets/js/plugin/jquery.countdown.js" type="text/javascript"></script>
<script src="assets/js/script.js" type="text/javascript"></script>
<script src="assets/js/plugin/jqzoom.js" type="text/javascript"></script>

